
/* #images {
    position:relative;
    width:100%;
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */

body {
    overflow-x: hidden;
    background:white;
    min-height: 100vh;
    margin: 0px;
    width:100%;
}

p {
    font-size:30px;
    color:white;
}

#text {
    background-color: black;
    padding:50px;
}

h2 {
    margin: 0px;
    color: white;
    font-size: 50px;
}

section {
    position: relative;
    width:100%;
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cliff {
    position:absolute;
    bottom:0%;
    right:0%;
    width: 60%;
    height: 60%;
}

#moon {
    position:absolute;
    top:5%;
    left:40%;
    width: 11%;
    height: 17%;
    background-color:black;
    border-radius:50%;
}

#couple {
    position: absolute;
    top: 28%;
    left: 50%;
    width: 11%;
    height: 17%;
}

#forest {
    position: absolute;
    bottom: 0%;
    left: 0%;
}

.box {
    background-color:black;
    position: fixed;
    animation: animStar 100s linear infinite;
    border-radius:44%;
}

@keyframes animStar {
  from	{
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}